.navbar .login-btn {
  position: absolute;
  top: 0px;
  right: 15px;
  color: black;
  border: transparent;
  font-size: large;
}

.navbar .logout-btn {
  position: absolute;
  top: 0px;
  right: 15px;
  color: black;
  border: transparent;
  font-size: large;
}

a {
  color: black;
}

.navbar-header {
  background-color: transparent;
}

.navbar-default {
  border: transparent;
  background-color: transparent;
}

.navbar-brand {
  color: black;
}